@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@font-face {
    font-family: "Vollkorn";
    src: url(../assets/Vollkorn-Italic-VariableFont_wght.ttf);
}


body { 
    height: 100vh;
    display: grid ;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: 1fr repeat(2,2fr) 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
body { 
    margin: 0%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

nav h1 {
    height: 70%;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: end;
}

main {
    background-color: rgba(154, 204, 54, 0.521);
}

#inicio {
    grid-area: main;   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
}

#descripcióndepágina {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
}

#descripcióndepágina p {
    margin: 30px;
}

#imageninicio {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#imageninicio img {
    margin: 30px;
    width: 300px;
}
   
header {
    background-color:khaki;
}
header nav ul {
    font-family: "Vollkorn";
    color:black
}

header nav h1 {
    color:darkgreen;
    font-family: 'Courgette', cursive;
    font-size: 60px;
    text-align: center;  
    padding: 50px;
}

h2 {
    padding: 15px;
}

nav ul li a {
    border-radius: 5px;
    margin-top: 20px;
    padding: 2px 3px;
    background-color: rgba(238, 144, 12, 0.486);
    margin-inline: 15px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
}

li {
    display: inline-block;
     
}

a { text-decoration: none;
    list-style-type: none; 
}

footer {
    grid-area: footer;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

#menu ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

footer {
    background-color:khaki;
    padding: 50px;
}

footer h3 {
    text-align: center;
}

footer span img {
    padding: 5px;
    height: 60px;
    width: 60px;
}

footer ul li { 
    border-radius: 10px;
    margin-top: 5px;
    padding: 2px 3px;
    background-color: rgba(238, 144, 12, 0.486);
    margin-inline: 10px;
    list-style-type: none;
    font-family: "Vollkorn";
    text-align: center;
    justify-content: center;   
}

a {
    color:black;   
}

p {
    font-size: 16px
}

#tipodeaves {
    grid-area: main;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

#tipodeaves {
    font-size: 20px;
    margin-block-end: 20px;
    padding: 10px;
    margin-bottom: 0px;
}

#tipodeaves p {
    font-size: 20px;
    margin-top: 10px;
}

#titulo2 {
    flex-basis: 100%;
}

main section div img {
    width: 250px;
    height: 200px;
    padding: 10px;
    border-radius: 10%;
}

#galeria {
    grid-area: main;   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    flex-basis: 100%;
    align-items: baseline;
}

.gal {
    width: 250px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
}

.gal {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo3 {
    flex-basis: 100%;
}

.aves2 {
    flex-basis: 100%;
    grid-area: main;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.aves2 div {
    padding: 40px;
}

#galeria section h3 {
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
}

.orden {
    grid-area: main;   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    flex-basis: 100%;
}

#galeria h4 {
    margin: 15px;
}
#cantos img {
    width: 60px;
    height: 50px;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid black;
}

#cantos {
    grid-area: main;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 15px;
}
#cantos section div {
    padding: 20px;
}

.orden {
    flex-direction: row;
}

#cantos section h3 {
    flex-basis: 100%;
    text-align: start;
    justify-content: center;
    margin-block-start: 20px;
    padding: 30px;
}

#contacto {
    grid-area: main;   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}

#contacto fieldset {
    color: black;
}

form div {
    padding: 15px;
}

#mensaje {
    height: 150px;
    width: 300px;
}

@media (max-width: 1024px) {
    ul {
        justify-content: center;
    }
}

@media (max-width: 768px) {
   
    ul {
        justify-content: center;
        flex-direction: column;
    }

    ul li {
        margin-top: 5px;
        padding: 2px 3px;       
    }

    #inicio {
       flex-direction: column;
    }
    
    #descripcióndepágina {
        flex-basis: 100%;
    }
    
    #imageninicio {
        flex-basis: 100%; 
    }

    footer ul li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul{
        padding: 0%;
    }
    
    footer span {
        padding: 0px;
    } 

}

@media (max-width: 610px) {

    ul {
        flex-direction: column;
    }

    ul li {
        margin-top: 5px;
        padding: 2px 3px;       
    }
   
}
