@charset "UTF-8";
@import "../css/style.css";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body {
  height: 100vh;
  display: grid;
  flex-wrap: wrap;
  margin: 0%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 2fr) 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

h2 {
  padding: 15px;
  font-size: 40px;
}

main {
  background-color: rgba(154, 204, 54, 0.521);
}

ul {
  display: flex;
  justify-content: end;
}

li {
  display: inline-block;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

@media (max-width: 1600) {
  .aves2 div {
    background-color: black;
  }
}
@media (max-width: 1024px) {
  ul {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  ul {
    flex-direction: column;
    justify-content: center;
  }
  ul li {
    margin-top: 5px;
    padding: 2px 3px;
  }
  #inicio {
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    padding: 0%;
  }
  footer ul {
    padding: 0%;
  }
  footer span {
    padding: 0px;
  }
  footer ul li a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 610px) {
  ul {
    flex-direction: column;
  }
  ul li {
    margin-top: 5px;
    padding: 2px 3px;
  }
}
@media (max-width: 332) {
  body {
    grid-template-columns: none;
  }
  #descripcióndepágina p {
    margin: 0px;
  }
  #cantos {
    padding: 0px;
  }
}
header {
  grid-area: header;
  background-color: khaki;
}

h1 {
  transition: transform 4s linear;
}
h1:hover {
  transform: scale(1.5);
}

header nav ul {
  font-family: "Vollkorn";
  color: black;
}

header nav h1 {
  color: darkgreen;
  font-family: "Courgette", cursive;
  font-size: 60px;
  text-align: center;
  padding: 50px;
}

nav ul li a {
  border-radius: 5px;
  margin-top: 20px;
  padding: 2px 3px;
  background-color: rgba(238, 144, 12, 0.486);
  margin-inline: 15px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}

nav ul li a:hover {
  color: beige;
}

nav {
  grid-area: nav;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

nav h1 {
  height: 70%;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: khaki;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

#menu ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

footer h3 {
  text-align: center;
}

footer span img {
  padding: 5px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

footer ul li {
  list-style-type: none;
  font-family: "Vollkorn";
  text-align: center;
  justify-content: center;
}

footer ul li a {
  background-color: rgba(238, 144, 12, 0.486);
  margin-top: 20px;
  margin-inline: 10px;
  border-radius: 5px;
  padding: 2px 3px;
}

#contacto {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#contacto fieldset {
  color: black;
}

form div {
  padding: 15px;
}

#mensaje {
  height: 150px;
  width: 300px;
}

#inicio {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#descripcióndepágina {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

#descripcióndepágina p {
  margin: 0px 20px;
  font-size: 25px;
}

#imageninicio {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imageninicio img {
  margin: 30px;
  width: 300px;
}

#galeria {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  flex-basis: 100%;
}

.gal {
  width: 400px;
  height: 430px;
  padding: 5px;
  flex-basis: 30%;
  font-size: 25px;
  justify-content: center;
  text-align: justify;
  margin: auto;
}

#titulo3 {
  flex-basis: 100%;
}

.aves2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
}

#galeria h3 {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin-block-start: 20px;
  padding: 30px;
}

.aves2 div {
  padding: 40px 30px;
  text-align: justify;
  margin: 20px;
}

.aves2 div img {
  width: 400px;
  height: 350px;
  padding: 5px;
  flex-basis: 30%;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  margin: auto;
}

#galeria h4 {
  margin: 15px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: justify;
}

#tipodeaves {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-block-end: 20px;
  padding: 10px;
  margin-bottom: 0px;
}

#tipodeaves p {
  font-size: 25px;
  margin-top: 10px;
}

#titulo2 {
  flex-basis: 100%;
  text-align: left;
}

.tda div img {
  width: 300px;
  height: 250px;
  border-radius: 70px;
  border: 2px solid white;
  padding: 20px;
  margin: 30px;
}

.orden {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 100%;
}

#cantos img {
  width: 60px;
  height: 50px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid black;
}

#cantos {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
}

#cantos section div {
  padding: 10px;
}
#cantos section div:hover {
  transform: scale(1.2);
}

#cantos section h3 {
  flex-basis: 100%;
  text-align: start;
  justify-content: center;
  margin-block-start: 20px;
  padding: 30px;
}

#contacto {
  font-size: 25px;
}

@font-face {
  font-family: "Vollkorn";
  src: url(../assets/Vollkorn-Italic-VariableFont_wght.ttf);
}

/*# sourceMappingURL=style.css.map */
