footer {
    grid-area: footer;
    background-color: $c-khaki;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

#menu ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
    
footer h3 {
    text-align: center;
}

footer span img {
    padding: 5px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

footer ul li { 
    list-style-type: none;
    font-family: "Vollkorn";
    text-align: center;
    justify-content: center;   
}

footer ul li a { 
    background-color: $c-marron;
    margin-top: 20px;
    margin-inline: 10px;
    border-radius: 5px;
    padding: 2px 3px;
}