#inicio {
    grid-area: main;   
   @include centrado; 
}

#descripcióndepágina {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#descripcióndepágina p {
    margin: 30px;
    font-size: $tamaño-fuente;
}

#imageninicio {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageninicio img {
    margin: 30px;
    width: 300px;
}