
#tipodeaves {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-block-end: 20px;
    padding: 10px;
    margin-bottom: 0px;
}

#tipodeaves p {
    font-size: 20px; 
    margin-top: 10px;
}

#titulo2 {
    flex-basis: 100%;
    text-align: left;
}

#tipodeaves section div {
    width: 250px;
    height: 200px;
}
